$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$additional-font: 'Open Sans', sans-serif;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-style: normal;
}

main {
  width: 100%;
  max-width: 1170px;
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-subtitle {

    }
  }
}