$primary-font: 'Raleway', sans-serif;
$secondary-font: 'Roboto', sans-serif;
$additional-font: 'Open Sans', sans-serif;

$main-color_gold: #FFCC00;
$primary-color_gray: #666666;
$secondary-color_gray: #333333;

$border: 1px solid $main-color_gold;