.box-decor {
  width: 100%;
  max-width: 100px;
  height: 100%;
  max-height: 100px;
  position: absolute;

  &--right-top {
    top: 0;
    left: 0;
    border-top: 1px solid $main-color_gold;
    border-left: 1px solid $main-color_gold;
  }

  &--right-bottom {
    bottom: 0;
    left: 0;
    border-bottom: 1px solid $main-color_gold;
    border-left: 1px solid $main-color_gold;
  }

  &--left-top {
    top: 0;
    right: 0;
    border-top: 1px solid $main-color_gold;
    border-right: 1px solid $main-color_gold;
  }

  &--left-bottom {
    bottom: 0;
    right: 0;
    border-bottom: 1px solid $main-color_gold;
    border-right: 1px solid $main-color_gold;
  }
}