.btn {
  padding: 0.5rem 1rem;
  font-family: $additional-font;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 1.4rem;
  //text-align: center;
  text-transform: uppercase;
  color: $primary-color_gray;
  border: $border;
  background: transparent;
}