.main {
  &__head-divider {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;

    &:before, &:after {
      content: "";
      flex: 1;
      height: 100%;
      border-bottom: $border;
    }
  }

  &__card-divider {
    border-left: $border;
  }

  &__person-name:after {
    content: "";
    display: block;
    width: 100%;
    max-width: 100px;
    border-bottom: $border;
    margin: 30px auto;
  }
}

.triple-divider {
  margin: 2rem 0 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  &--right, &--center, &--left {
    border: 2px solid $main-color_gold;
  }

  &--center {
    min-width: 2rem;
  }

  &--right, &--left {
    min-width: 10px;
  }
}
